<div class="newsletter__container">
    <h5 class="newsletter__heading">Join our newsletter list</h5>
    <input type="email" name="email" class="newsletter__email" placeholder="Email address"/>
    <button class="newsletter__button">Go</button>
    <a class="newsletter__link" href="target:none">Want to Know more?</a>
</div>