<div class="featured__right__container">
<div class="featured_2">
<div class="featured_2_top">
      {{ fields.field_image.content }}
       <h6>{{ fields.title.content }}</h6>
    <h6>{{ fields.field_body.content }}</h6>
     </div>
</div>
</div>
